body{   
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
        
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}
#googlelogo{
    width: 400px;
    position: relative;
    margin: auto;
}
#searchbar{
    width: 811px;
    height: 90px;
    background-color:#eeeeee ;
    margin: auto;
}
.form{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}
.buttons{
    padding: 3px 6px;
    font-weight:700px;
    position:relative;
    margin: auto;
    top:-20%;
}
.searchboxes {
    display: grid;
    grid-template-columns: 0.9fr 0.5fr 1fr;
    gap: 2px;
    width: 800px;
    margin: 2px 0px;
}
#box1, #box2, #box3, #box3 form {
    width: 100%;
    padding: 5px;
    height:80px;
    position: relative;
    display:grid;
    text-align: center;
}
#box1{
    background-color: 7ee5da;
    width: 280px;
}
#box2{
    background-color: 70ccc2;
    width: 180px;
}
#box3{
    background-color: 62b3aa;
}
.Copyright p{
    text-align: center;
    font-weight: 500px;
    font-size: small;
}
section div div a {
    font-size: 0.8rem;
}
section div div form {
    font-size: 0.8rem;
}
.getgoogle{
    width: fit-content;
    height:fit-content;
    position: relative;
    top: -40%;
    margin: auto;
}
#form2{
    position: relative;
    top: -20%;
}